@mixin portfolio-item {
     height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 33%;
    position: relative;
}

@mixin item-mask {
    background-color: rgba(42,61,79,0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

@mixin item-content {
    border: 1px solid #fff;
    margin: 10px;
    height: 330px;
    position: relative;
}

@mixin item-content-inner {
    
    color: #FFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    padding: 5px;
}