#background {
    height: 100vh;
    overflow: hidden;
}

@media all and (min-width:1170px) {
    
    #h1 {
        background: url(man-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
       
     }
    p {
        width: 100%;
        text-align: left;
        transform: translateY(-250px);
        color: #FFFFFF;
        font-size: 20px;
        left: 300px;
        margin-left: 40px;
    }
    span {
        font-size: 30px;
        padding-top: 20px;
    }
}

@media all and (min-width:993px) and (max-width:1169px) {
    
    #h1 {
        background: url(man-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:70vh;
        
}
    p {
        color: #FFFFFF;
        left: 50%;
        margin-left: 150px;
        transform: translateY(-300px)
}
    span{
        margin-left: 65px;
        padding-top: 20px;
    }
}

@media all and (max-width:992px) {
    
    #h1 {
        background: url(man-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        background-position: center;
        
    }
    p {
        text-align: center;
    }
    span {
        font-size: 20px;
        padding-top: 20px;
    }
}
