@media all and (max-width : 1200px){
    
}
@media all and (max-width : 992px){
    #main-nav .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 50px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    #main-nav ul{
        display: none;
    }
    #main-nav #drop:checked + ul {
        display: block;
    }
    #main-nav > ul > li {
        display: block;
        width: 100%;
        padding: 5px;
        text-align: right;
        
    }
}
@media all and (max-width : 768px){
    section {
        padding: 0 40px 50px;
    }
    
}
@media all and (max-width : 576px){
    section {
        padding: 0 10px 30px;
    }
    
}